<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{{ message("O nama") }}</h2>

				<nav id="breadcrumbs">
					<ul>
						<li><a href="{{ '' | base_url }}">{{ message("Home") }}</a></li>
						<li>{{ message("O nama") }}</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h4 class="headline with-border margin-top-0 margin-bottom-35">{{ message("Safe Drive konačno u Hrvatskoj!") }}</h4>
		<blockquote>{{ message("Za sada je usluga dostupna u Zagrebu i okolici, uskoro i u ostatku Hrvatske.") }}</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

			<h4 class="headline with-border margin-top-45 margin-bottom-25">{{ message("Zašto i kako je nastao Safe Drive") }}</h4>

			<p>{{ message("Safe Drive ideja je nastala iz potrebe za većom sigurnosti svih sudionika u prometu. Naš tim ima za jasnu viziju omogućiti svim svojim korisnicima opuštanje u društvu najmilijih kada i gdje oni to žele.") }}</p>

			<p>{{ message("Jedan od glavnih razloga zašto ljudi voze pod utjecajem alkohola je jer se ne žele vratiti kući bez svog automobila. Na taj način riskiraju plaćanje kazne za vožnju u alkoholiziranom stanju, prometnu nesreću sa materijalnom štetom ili ono najgore stradavanje u prometnoj nesreći.") }}</p>

			<p>{{ message("Od sada ništa od spomenutog ne mora biti opcija, Safe Drive tim preuzima odgovornost za Vašu sigurnost u prometu i omogućava Vam potpuno bezbrižno opuštanje u svim situacijama.") }}</p>

			<p>{{ message("Safe Drive usluga funkcionira na slijedeći način. Na Vaš zahtjev, na dogovorenu lokaciju i u dogovoreno vrijeme, upućuje se Safe Drive vozač. Po dolasku, vozač preuzima Vaše vozilo i prevozi Vas u udobnosti Vašeg limenog ljubimca na željenu lokaciju, pri tome brinući o Vašoj sigurnosti. Nakon izvršene usluge vozač odlazi i nastavlja brigu o sigurnosti drugih sudionika u prometu.") }}</p>
		
			<p>{{ message("No to nije sve, Safe Drive vozači su tu da Vam olakšaju svakodnevne obaveze i stoje Vam na raspolaganju kada je to Vama najpotrebnije. Uslugu koja Vam je potrebna osmišljate sami, a realizaciju prepustite nama.") }}</p>
		
			<p>{{ message("Ako iz bilo kojeg razloga procijenite da niste u mogućnosti upravljati motornim vozilom, ne riskirajte i kontaktirajte nas sa povjerenjem, mi ćemo se pobrinuti za Vašu sigurnost. Za nas ništa nije nemoguće i svaki Vaš poziv nama je novi izazov. Svakom Vašem zadatku mi ćemo pristupiti krajnje profesionalno.") }}</p>
		
			<p>{{ message("Sve detalje o našoj ponudi možete saznati klikom na") }} <a href="{{ 'services' | base_url }}">{{ message("usluge.") }}</a> {{ message("Za sve detalje stojimo Vam na raspolaganju.") }} <a href="{{ 'contact' | base_url }}">{{ message("Pošaljite upit.") }}</a></p>
		
			<p>{{ message("Vaša sigurnost je naša obaveza bez kompromisa.") }}</p>

		</div>
	</div>


</div>