<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{{ message("Cjenik") }}</h2>

				<nav id="breadcrumbs">
					<ul>
						<li><a href="{{ '' | base_url }}">{{ message("Home") }}</a></li>
						<li>{{ message("Cjenik") }}</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<h4>{{ message("Safe Drive cjenik usluga - vikend (petak, subota, nedjelja)") }}</h4>
				<br />
				<table class="pricing">
					<thead>
						<td>{{ message("Naziv usluge") }}</td>
					     <td>{{ message("Cjena") }}</td>
					</thead>
					<tbody>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost do 10 km") }}</td>
					     <td>{{ message("90kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost od 10 do 15 km") }}</td>
					     <td>{{ message("130kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost od 15 do 20km") }}</td>
					     <td>{{ message("165kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost od 20 do 25km") }}</td>
					     <td>{{ message("200kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Cijena najma po kilometru za udaljenosti preko 25km*") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Dnevni najam vozača*") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača za proslave*") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača za poslovna putovanja*") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					</tbody>
				</table>

			</div>
			<div class="col-md-6">

				<h4>{{ message("Tjedni cjenik ponedjeljak-četvrtak") }}</h4>
				<br />
				<table class="pricing">
					<thead>
						<td>{{ message("Naziv usluge") }}</td>
					     <td>{{ message("Cjena") }}</td>
					</thead>
					<tbody>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost do 10 km") }}</td>
					     <td>{{ message("82kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost od 10 do 15 km") }}</td>
					     <td>{{ message("120kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost od 15 do 20k") }}m</td>
					     <td>{{ message("150kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača - udaljenost od 20 do 25km") }}</td>
					     <td>{{ message("180kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Cijena najma po kilometru za udaljenosti preko 25km*") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Dnevni najam vozača") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača za proslave") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Najam vozača za poslovna putovanja") }}</td>
					     <td>{{ message("na upit") }}</td>
					  </tr>
					</tbody>
				</table>

			</div>

		</div>

		<div class="row margin-top-55">
			<div class="col-md-12">
				<p>{{ message("*Mogućnost dogovora paušalne cijene za veće udaljenosti od 25 km") }}</p>
				<p>{{ message("*Dnevno iznajmljivanje vozača za poslovna i privatna putovanja") }}</p>
				<p>{{ message("*Prisutnost vozača na proslavi - cijena na upit, mogućnost dogovora paušalne cijena") }}</p>
				<p>{{ message("*Možete nas angažirati za sve vrste proslava - Doček nove godine, svadbe, krštenja, domjenci, rođendani itd…") }}</p>

				<p><b>{{ message("Napomena: Članstvom u našem klubu ostvarujete popust na cijene usluga preko vikenda. Svim našim članovima osiguravamo tjedne cijene vikendom.") }}</b></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<table class="pricing">
					<thead>
						<td>{{ message("Naziv usluge") }}</td>
					     <td>{{ message("Cjena") }}</td>
					</thead>
					<tbody>
					  <tr>
					     <td>{{ message("Čekanje vozača do 10 min") }}</td>
					     <td>{{ message("nema naplate") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Usluga čekanje dodatno započetih 10 min") }}</td>
					     <td>{{ message("30kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Svaki započeti sat čekanj") }}a</td>
					     <td>{{ message("120kn") }}</td>
					  </tr>
					  <tr>
					     <td>{{ message("Ostale usluge*") }}</td>
					     <td>{{ message("po dogovoru") }}</td>
					  </tr>
					  
					</tbody>
				</table>

			</div>
		</div>

		<div class="row margin-top-55">
			<div class="col-md-12">
				<p>{{ message("*Čekanje do 10 min se ne naplaćuje") }}</p>
				<p>{{ message("*Pod ostale usluge smatramo usluge koje kreirate sami - više detalja na stranici") }} <a href="{{ 'services' | base_url }}">{{ message("usluge") }}</a></p>
				<p><b>{{ message("Svakim našim angažmanom osiguravamo siguran povratak svih uzvanika njihovim kućama.") }}</b></p>
			</div>
		</div>

	</div>


</div>