<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{ message("Usluge") }}</h2>
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{{ '' | base_url }}">{{ message("Home") }}</a></li>
						<li>{{ message("Usluge") }}</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">
		<h4 class="headline with-border margin-top-0 margin-bottom-35">{{ message("Prateći potrebe naših korisnika i klijenata osmislili smo slijedeći paket usluga koji je osmišljen s ciljem povećanja sigurnosti svih sudionika u prometu") }}</h4>
		<blockquote>{{ message("U prvome redu paket usluga je osmišljen sa ciljem povećanja sigurnosti svih sudionika u prometu.") }}</blockquote>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<h4 class="headline with-border margin-top-45 margin-bottom-25">{{ message("Neke od usluga koje pružamo su") }}</h4>
			<p>{{ message("Dolazimo po Vas na proslave i zajedno sa Vašim društvom vraćamo kući, vodeći brigu o sigurnosti Vas i vašeg limenog ljubimca. Možete iznajmiti potreban broj vozača za vašu proslavu koji će se pobrinuti da svi uzvanici sigurno stignu svojim kućama.") }}</p>
		
			<p>{{ message("Ako ste umorni i niste u mogućnosti nastaviti svoje putovanje, preuzimamo Vaše vozilo i vozimo Vas do željene destinacije. Prevozimo Vas sa jedne proslave na drugu. Vozimo Vašu djecu u vrtić ili školu Vašim vozilom i još puno, puno toga…") }}</p>
			<p>{{ message("Za sve što niste u mogućnosti sami odraditi iz bilo kojeg razloga stojimo Vam na raspolaganju.	Sami kreirajte uslugu koja Vam je potrebna.") }} <a href="{{ 'contact' | base_url }}">{{ message("Pošaljite upit") }}</a></p>
			<p>{{ message("Sve Vaše svakodnevne obaveze su za nas posao koji ćemo odraditi sa zadovoljstvom. Za nas ograničenja ne postoje.") }}</p>
			<p>{{ message("Vaša sigurnost je naša obaveza. Za sve upite i nedoumice obratite se profesionalnom Safe Drive timu s povjerenjem.") }}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<h4 class="headline margin-bottom-25 margin-top-40">{{ message("Prednosti") }}</h4>

			<div class="row">
				<div class="col-md-6">
					<ul class="list-2">
						<li>{{ message("Safe Drive usluga prijevoza Vašeg vozila na servis u točno dogovoreno vrijeme i povratak vozila kući") }}</li>
						<li>{{ message("Putujete u inozemstvo, mi vraćamo Vaše vozilo iz zračne luke na kućnu adresu, ili željenu lokaciju, zatim dostavljamo vozilo u zračnu luku u dogovoreno vrijeme po povratku sa putovanja. U tom slučaju ne morate brinuti za sigurnost svog limenog ljubimca") }}</li>
						<li>{{ message("Dostavljamo Vam vozilo na željenu lokaciju") }}</li>
					</ul>
				</div>

				<div class="col-md-6">
					<ul class="list-2">
						<li>{{ message("Vozimo Vas na pregled kod liječnika ili Vas vraćamo kući nakon medicinske intervencije ako iz bilo kojeg razloga niste u mogućnosti upravljati vozilom") }}</li>
						<li>{{ message("Vozimo Vaše vozilo na pranje u autopraonicu") }}</li>
						<li>{{ message("Vozimo Vaše vozilo na tehnički pregled") }}</li>
						<li>{{ message("Vozimo Vas i Vašu obitelj na odmor") }}</li>
						<li>{{ message("Vraćamo Vas s najljepšeg adventa u Europi u sigurnosti Vašeg vozila") }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>...i još puno puno toga...</p>
			<hr>
			<p><b>{{ message("Napomena: Ne obavljamo taxi djelatnost i sve spomenute usluge obavljamo isključivo Vašim vozilom.") }}</b></p>
		</div>
	</div>

</div>