<div id="footer" class="margin-top-55">

	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<b>{{ message("Načini plaćanja") }}</b>
				<p>{{ message("Cash, Maestro, Mastercard, Visa, V PAY, JCB, American Express") }}</p>
				<img src="{{ 'payment_cards.png' | images_root }}" />
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>{{ message("Mapa stranice") }}</h4>
				<ul class="footer-links">
					{% for item in menu %}
						<li><a href="{{ item.path | base_url }}">{{ item.name }}</a></li>
					{% endfor %}
				</ul>

				<ul class="footer-links">
					<li><a href="#">Mediji o nama</a></li>
					<li><a href="#">Partneri</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<img class="footer-logo" src="{{ 'logo.png' | images_root }}" alt=""> 
				<br /> <hr>
				<div class="text-widget">
					{{ message("Email:") }}<span> <a href="#">{{ message("info@safedrive.hr") }}</a> </span><br>
					{{ message("Telefon:") }}<span> <a href="#">{{ message("01 / 2069287") }}</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="https://www.facebook.com/SafedriveSigurnavoznja/" target="_blank"><i class="icon-facebook"></i></a></li>
				</ul>

			</div>

		</div>
		
		<div class="row">
			<div class="col-md-12">
				<br />
				<p>{{ message("Safe Drive za usluge i trgovinu j.d.o.o. sa sjedištem u Svetom Ivanu Zelini. Društvo je upisano u registar trgovačkog suda u Zagrebu pod brojem Tt-17/43455-4, MBS: 081134105, OIB: 54950832962, IBAN: HR9023600001102651779 - Direktor: Marko Hasan") }}</p>
				<div class="copyrights">© {{ '' | date('Y') }} Safe Drive. Sva prava pridržana.</div>
			</div>
		</div>

	</div>

</div>

<div id="backtotop"><a href="#"></a></div>

</div>

<script type="text/javascript" src="{{ 'jquery-2.2.0.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key={{ '' | google_maps_key }}"></script>
<script type="text/javascript" src="{{ 'jpanelmenu.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'chosen.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'slick.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'rangeslider.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'magnific-popup.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'waypoints.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'counterup.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'jquery-ui.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'tooltips.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'jquery.cookie.js' | scripts_root }}"></script>

<script type="text/javascript" src="{{ 'infobox.min.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'markerclusterer.js' | scripts_root }}"></script>
<script src="{{ 'safe-drive.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'maps.js' | scripts_root }}"></script>
<script type="text/javascript" src="{{ 'custom.js' | scripts_root }}"></script>

{% if template == 'home.twig' %}
	<script type="text/javascript">
		OrderSystem.init();
	</script>
{% endif %}

{% if christmas == true %}

	<script type="text/javascript">
	/* BLAGDANSKI ADDON, snijeg*/

		var is_touch_device = 'ontouchstart' in window || navigator.msMaxTouchPoints;
    	if(!is_touch_device) {

			document.addEventListener("DOMContentLoaded", function(event) {
			  iProDevSnow();
			});

			var iProDevSnow = function(){

				(function() {
				    var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame ||
				    function(callback) {
				        window.setTimeout(callback, 1000 / 60);
				    };
				    window.requestAnimationFrame = requestAnimationFrame;
				})();

				var flakes = [],
				    canvas = document.getElementById("xmas"),
				    ctx = canvas.getContext("2d"),
				    parent = canvas.parentNode,
				    retina = window.devicePixelRatio > 1 ? 2 : 1,
				    flakeCount = 150;

				    canvas.width = parent.offsetWidth * retina;
				    canvas.height = parent.offsetHeight * retina;

				function snowFrame() {
				    ctx.clearRect(0, 0, canvas.width, canvas.height);

				    for (var i = 0; i < flakeCount; i++) {
				        var flake = flakes[i],
				            x = flake.x,
				            y = flake.y;

			            flake.velX *= .98;
			            if (flake.velY <= flake.speed) {
			                flake.velY = flake.speed
			            }
			            flake.velX += Math.cos(flake.step += .05) * flake.stepSize;

				        ctx.fillStyle = "rgba(204,204,204," + flake.opacity + ")";
				        flake.y += flake.velY;
				        flake.x += flake.velX;
				            
				        if (flake.y >= canvas.height || flake.y <= 0) {
				            reset(flake);
				        }

				        if (flake.x >= canvas.width || flake.x <= 0) {
				            reset(flake);
				        }

				        ctx.beginPath();
				        ctx.arc(flake.x, flake.y, flake.size, 0, Math.PI * 2);
				        ctx.fill();
				    }
				    requestAnimationFrame(snowFrame);
				};

				function reset(flake) {
				    flake.x = Math.floor(Math.random() * canvas.width);
				    flake.y = 0;
				    flake.size = ((Math.random() * 3) + getRandomInt(2, 4)) * retina;
				    flake.speed = ((Math.random() * 1) + 0.2) * retina;
				    flake.velY = flake.speed;
				    flake.velX = 0;
				    flake.opacity = (Math.random() * 0.5) + 0.4;
				}

				function init() {
				    for (var i = 0; i < flakeCount; i++) {
				        var x = Math.floor(Math.random() * canvas.width),
				            y = Math.floor(Math.random() * canvas.height),
				            size = ((Math.random() * 3) + getRandomInt(2, 4)) * retina,
				            speed = ((Math.random() * 1) + 0.2) * retina,
				            opacity = (Math.random() * 0.5) + 0.4;

				        flakes.push({
				            speed: speed,
				            velY: speed,
				            velX: 0,
				            x: x,
				            y: y,
				            size: size,
				            stepSize: (Math.random()) / 30,
				            step: 0,
				            opacity: opacity
				        });
				    }

				    snowFrame();
				};

				window.addEventListener("resize",function(){
				    canvas.width = parent.offsetWidth * retina;
				    canvas.height = parent.offsetHeight * retina;
				})

				init();
			};

			function getRandomInt(min, max) {
			  return Math.floor(Math.random() * (max - min)) + min;
			}
		}
	</script>

{% endif %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110854690-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110854690-1');
</script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.safe-drive.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
</body>
</html>