		<footer class="footer text-center"> WebCore CMS &copy; KSGROUP - 2017 </footer>
	</div>
</div>
    <script src="{{ 'jquery/dist/jquery.min.js' | plugins_root }}"></script>
    <script src="{{ 'bootstrap/dist/js/tether.min.js' | plugins_root }}"></script>
    <script src="{{ 'bootstrap/dist/js/bootstrap.min.js' | plugins_root }}"></script>
    <script src="{{ 'bootstrap-extension/js/bootstrap-extension.min.js' | plugins_root }}"></script>
    <script src="{{ 'sidebar-nav/dist/sidebar-nav.min.js' | plugins_root }}"></script>
    <script src="{{ 'jquery.slimscroll.js' | scripts_root }}"></script>
    <script src="{{ 'waves.js' | scripts_root }}"></script>
    <script src="{{ 'waypoints/lib/jquery.waypoints.js' | plugins_root }}"></script>
    <script src="{{ 'counterup/jquery.counterup.min.js' | plugins_root }}"></script>
    <script src="{{ 'raphael/raphael-min.js' | plugins_root }}"></script>
    <script src="{{ 'morrisjs/morris.js' | plugins_root }}"></script>
    <script src="{{ 'custom.min.js' | scripts_root }}"></script>
    <script src="{{ 'dashboard1.js' | scripts_root }}"></script>
    <script src="{{ 'jquery-sparkline/jquery.sparkline.min.js' | plugins_root }}"></script>
    <script src="{{ 'jquery-sparkline/jquery.charts-sparkline.js' | plugins_root }}"></script>
    <script src="{{ 'toast-master/js/jquery.toast.js' | plugins_root }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        /*$.toast({
            heading: 'Welcome to Elite admin',
            text: 'Use the predefined ones, or specify a custom position object.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'info',
            hideAfter: 3500,

            stack: 6
        })*/
    });
    </script>
    <script src="{{ 'styleswitcher/jQuery.style.switcher.js' | plugins_root }}"></script>
</body>
</html>