<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,follow">

    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>WebCore CMS</title>

    <link href="{{ 'bootstrap/dist/css/bootstrap.min.css' | plugins_root }}" rel="stylesheet">
    <link href="{{ 'bootstrap-extension/css/bootstrap-extension.css' | plugins_root }}" rel="stylesheet">
    <link href="{{ 'sidebar-nav/dist/sidebar-nav.min.css' | plugins_root }}" rel="stylesheet">
    <link href="{{ 'toast-master/css/jquery.toast.css' | plugins_root }}" rel="stylesheet">
    <link href="{{ 'morrisjs/morris.css' | plugins_root }}" rel="stylesheet">
    <link href="{{ 'animate.css' | css_root }}" rel="stylesheet">
    <link href="{{ 'style.css' | css_root }}" rel="stylesheet">
    <link href="{{ 'colors/megna.css' | css_root }}" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

{% include 'Inc/top_nav.twig' %}